*{
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
h3{
    text-align: center;
    font-style: initial;
}
h4{
    text-align: center;
}

 .jumbotron{
     margin-left: auto;
     margin-right: auto;
     width: 70%;
 }
li a{
    font-style: italic;
    font-size: 140%;
}